SOLANA_RPC_ENDPOINT=https://solana-mainnet.core.chainstack.com/...
ETHEREUM_RPC_ENDPOINT=https://eth-mainnet.g.alchemy.com/...
BNB_RPC_ENDPOINT=https://bnb-mainnet.g.alchemy.com/v2/...
ARB_RPC_ENDPOINT=https://arb-mainnet.g.alchemy.com/v2/...
BASE_RPC_ENDPOINT=https://base-mainnet.g.alchemy.com/v2/...

COINGECKO_API=CG...

REDIS__HOST=localhost
REDIS__PORT=6379
REDIS_DB=123
REDIS_PASSWORD=password

MIN_VOL24=10_000
MIN_TVL=7_000

# in seconds
METADATA_FETCH_INTERVAL=1800

METADATA_DECAY_PERIOD=1800

EVM_TICKS_FETCH_RANGE=50

POOL_STATE_DECAY_TIME=50000000000000

MINIMAL_PROFIT=1
SWAPPER_FEE=0.005

# how many paths to pick from one itteration of probing
OSR_V1_LEVEL_DEPTH=5

BINANCE_API_KEY=asdf123asdf
BINANCE_SECRET_KEY=asdf123asdf
BYBIT_API_KEY=asdf123asdf
BYBIT_SECRET_KEY=asdf123asdf
OKX_API_KEY=asdf123asdf
OKX_SECRET_KEY=asdf123asdf
OKX_PASSPHRASE=asdf123asdf
MEXC_API_KEY=asdf123asdf
MEXC_SECRET_KEY=asdf123asdf
BINGX_API_KEY=asdf123asdf
BINGX_SECRET_KEY=asdf123asdf
COINEX_API_KEY=asdf123asdf
COINEX_SECRET_KEY=asdf123asdf