SOLANA_RPC_ENDPOINT=https://solana-mainnet.core.chainstack.com/...
ETHEREUM_RPC_ENDPOINT=https://eth-mainnet.g.alchemy.com/...
BNB_RPC_ENDPOINT=https://bnb-mainnet.g.alchemy.com/v2/...
ARB_RPC_ENDPOINT=https://arb-mainnet.g.alchemy.com/v2/...
BASE_RPC_ENDPOINT=https://base-mainnet.g.alchemy.com/v2/...

COINGECKO_API=CG...

REDIS__HOST=localhost
REDIS__PORT=6379

MIN_VOL24=30_000
MIN_TVL=10_000

# in seconds
METADATA_FETCH_INTERVAL=1800

EVM_TICKS_FETCH_RANGE=50

POOL_STATE_DECAY_TIME=5

MINIMAL_PROFIT=1
SWAPPER_FEE=0.005